openapi: 3.0.4
info:
  title: WASAtext
  description:  API Web Chat App, University project
  version: 1.1.0
  
servers:
  - url: https://api.web-chat-app.com/v1
    description: Web Chat Application API Description

security:
  - bearerAuth: []

tags:
  - name: Users
    description: User management, search
  - name: Conversations
    description: General conversation operations
  - name: Private Chats
    description: One-to-one conversation management
  - name: Group Chats
    description: Group Chat management and administration
  - name: Messages
    description: Message operations (send, edit, delete, forward)
  - name: Reactions
    description: Message reaction operations
  - name: Favourites
    description: Favourite messages 
  - name: Login
    description: Login user


components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from login

  schemas:  
    
    User:
      type: object
      description: Representation of a User in the system.
      properties:
        id:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique user id (UUID)
        username:
          type: string
          minLength: 3
          maxLength: 30
          example: steph_curry
          pattern: '^[a-zA-Z0-9._~-]+$'
          description: Unique username; only letters, numbers and underscore
        profilePhoto:
          type: string
          format: url                               # Url dell'immagine
          minLength: 10
          maxLength: 500
          pattern: '^https?:\/\/[^\s\/$.?#].[^\s]*$'
          description: URL User profile photo
        status:
          type: string 
          minLength: 1
          maxLength: 200
          pattern: '.*'               # gestire lato server
          description: User Status
          #pattern:            Validare/Sanificare lato server  # pattern che permette Testo + Emoji                  
          example: "Available, write to me! :)"

      required:
        - id 
        - username
        - profilePhoto
  
    GroupChat:
      type: object
      description: Representation of a Group Chat
      properties:
        id:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique id Conversation
        groupName:
          type: string
          minLength: 1
          maxLength: 200
          pattern: '.*'             # gestire lato server
          example: BestShooters
          description: Group name
        groupDescription:
          type: string
          #pattern:            Validare/Sanificare lato server  # pattern che permette Testo + Emoji  
          minLength: 0
          maxLength: 1000
          description: Group description
          example: "This group is only for people who don't shoot bricks :)"
        groupPhoto:
          type: string
          format: url
          minLength: 10
          maxLength: 500
          pattern: '^https?:\/\/[^\s\/$.?#].[^\s]*$'
          description: Group photo
        members:
          type: array
          items:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            description: Id user of member  to add      # passo gli id, poi gestisco lato server
          minItems: 1                                   # almeno un utente deve essere unito al gruppo (quando creato)
          maxItems: 300
          description: Group members  
        admins:
          description: List of admin users in the group
          type: array
          items:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            description: User IDs of group admins
          minItems: 1
          maxItems: 100
        snippet:              # anteprima
          type: string
          minLength: 1
          maxLength: 300
          pattern: '.*'             # gestire lato server
          description: Conversation snippet
          #pattern:            Validare/Sanificare lato server  # pattern che permette Testo + Emoji            
          example: "Yeah, I want to talk about..."
        dtLastMessage:
          type: string
          format: date-time
          minLength: 20
          maxLength: 50
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d+)?(Z|[\+\-]\d{2}:\d{2})$'
          description: date and time of the last message in a Group Chat
        favourites:
          type: array
          description: Favourite Meesage IDs Array of this GroupChat
          minItems: 0
          maxItems: 100000
          items:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            description: Favorite message ID

      required: 
        - groupName
        - members


    GroupChatPrototype:     # Inserimento di una nuova chat di gruppo
      type: object
      description: Representation of a NEW Group Chat
      properties:
        groupName:
          type: string
          minLength: 1
          maxLength: 200
          pattern: '.*'             # gestire lato server
          description: Group name
        groupDescription:
          type: string
          minLength: 1
          maxLength: 1000
          pattern: '.*'             # gestire lato server
          description: Group description
        members:
          type: array
          items:
            type: string
            minLength: 3
            maxLength: 30
            pattern: '^[a-zA-Z0-9._~-]+$'
            description: Username of user who sent
          minItems: 1                                   # almeno un utente deve essere unito al gruppo (quando creato)
          maxItems: 300
          description: Group members
      required: 
        - groupName
        - members
        

    PrivateChat:
      type: object
      description: Representation of a Private Chat
      properties:
        id:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Private Chat Id
        recipientUser:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Id of recipient user
        snippet:              # anteprima
          type: string
          minLength: 1
          maxLength: 300
          pattern: '.*'             # gestire lato server
          example: "Yeah, I want to talk about..."
          description: Private Chat snippet
        dtLastMessage:
          type: string
          format: date-time
          minLength: 20
          maxLength: 50
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d+)?(Z|[\+\-]\d{2}:\d{2})$'
          description: date and time of the last message in a Sigle Conversation
        userPhoto:
          type: string
          format: url
          minLength: 10
          maxLength: 500
          pattern: '^https?:\/\/[^\s\/$.?#].[^\s]*$'
          description: User Photo
        favourites:
          type: array
          description: List of favourite message IDs
          minItems: 0
          maxItems: 100000
          items:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            description: Favourite message id
        initialMessage:           # lo inserisco perché per scelta progettuale voglio che per iniziare una conversazione privata, debba essere inviato almeno un messaggio
          type: string
          minLength: 1
          maxLength: 5000
          pattern: '.*'
          description: First message (Write Only - used during creation)
          writeOnly: true
      required: 
        - id 
        - recipientUser


    PrivateChatPrototype:     # Inserimento di una nuova chat privata
      type: object
      description:  Representation of a NEW Private Chat
      properties:
        recipientUser:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Id of recipient user
        initialMessage:
          type: string
          minLength: 1
          maxLength: 5000
          pattern: '.*'             # gestire lato server
          description: First message to send in the conversation
      required: 
        - recipientUser
        - initialMessage


    Message:
      type: object
      description: Representation of a Message in the system
      properties:
        id:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Message Id
        contentMess:
          type: string
          minLength: 1
          maxLength: 5000
          pattern: '.*'             # gestire lato server
          description: Message content. May include text, emojis, links, and attachments.
        timestamp:
          type: string
          format: date-time
          minLength: 20
          maxLength: 50
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d+)?(Z|[\+\-]\d{2}:\d{2})$'
          description: Message timestamp
        statusInfo:
          type: string
          enum:
            - delivered
            - read
          description: Message status
        conversationId:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation Id
        senderUserId:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: User ID who sent the message
        senderUsername:
          type: string
          minLength: 3
          maxLength: 30
          pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of user who sent
          readOnly: true    # lo gestisco lato server, altrimenti se l'utente cambia nome, devo aggiornare tutti i messaggi precedenti --> l'username me lo ricavo lato server (dal DB)
        forwarded:                        # Indica se il messaggio è stato inoltrato da qualche altra chat --> Boolean 
          type: boolean
          default: false
          description: Indicates if message was forwarded
        reactions:
          type: array
          description: List of reactions
          minItems: 0
          maxItems: 300
          items:
            $ref: "#/components/schemas/Reaction"
          

      required: 
        - id
        - contentMess
        - timestamp
        - statusInfo
        - conversationId
        - senderUserId


    NewMessage:
      type: object
      description: Input payload for sending a new message. Server handles timestamp and author.
      properties:
        contentMess:
          type: string
          minLength: 1
          maxLength: 5000
          pattern: '.*'
          description: Message content (text, emojis).
      required:
        - contentMess

    MessageUpdate:
      type: object
      description: Input payload for editing a message.
      properties:
        contentMess:
          type: string
          minLength: 1
          maxLength: 5000
          pattern: '.*'
          description: The new content of the message.
      required:
        - contentMess

     
    ForwardMessage:                   # Inoltra un messaggio
      type: object
      description: Representation of a forwarded message
      properties:
        # messToForwardId: E' nell'URL del path
        conversationToForwardId:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Conversation to forward the message
      required: 
        - conversationToForwardId


    Reaction:
      type: object
      description: Representation of a reaction to a message
      properties:
        reactionId: 
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Reaction ID
        emoji:
          type: string
          minLength: 1
          maxLength: 20  # Permette emoji composte 
          pattern: '.*'             # gestire lato server
          description: Emoji reaction (single or composite emoji)
        timestamp:
          type: string
          format: date-time
          minLength: 20
          maxLength: 50
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d+)?(Z|[\+\-]\d{2}:\d{2})$'
          description: Reaction timestamp
        messToReactId:         
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: The Messagge where will react           
        senderUserId:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: User who reacted
        senderUsername:
          type: string
          minLength: 3
          maxLength: 30
          pattern: '^[a-zA-Z0-9._~-]+$'
          description: User username who reacted
          readOnly: true    # lo gestisco lato server, altrimenti se l'utente cambia nome, devo aggiornare tutti i messaggi precedenti --> l'username me lo ricavo lato server (dal DB)
      required: 
        - reactionId
        - emoji
        - senderUsername

    NewReaction:
      type: object
      description: Representation of a New reaction to a message
      properties:
        emoji:
          type: string
          minLength: 1
          maxLength: 20  # Permette emoji composte 
          pattern: '.*'             # gestire lato server
          description: Emoji reaction (single or composite emoji)
      required: 
        - emoji


    AddMembersRequest:
      type: object
      description: Representation requested adding a member to a group
      properties:
        usernamesToAdd:
          type: array
          items:          ## singolo username da aggiungere
            type: string
            minLength: 3
            maxLength: 30
            pattern: '^[a-zA-Z0-9._~-]+$' 
            description: username         
          minItems: 1
          maxItems: 300                                                    
          description: Array of username to add to the group
      required: 
        - usernamesToAdd



    AdminRequest:
      type: object
      description: Representation of the request to make a member an administrator of the group
      properties:
        usernameToPromote:
          type: string
          minLength: 3
          maxLength: 30
          pattern: '^[a-zA-Z0-9._~-]+$' 
          description: Username of the user to make/remove as admin
      required:
        - usernameToPromote


    UpdateUsernameRequest:
      type: object
      description: Requested representation to change your username
      properties:
        newUsername:
          type: string
          minLength: 3
          maxLength: 30
          pattern: '^[a-zA-Z0-9._~-]+$'
          description: New username (must be unique)
      required: 
        - newUsername


    Error:
      type: object
      description: Textual representation of the error
      properties:
        error:
          type: string
          minLength: 1
          maxLength: 200
          pattern: '.*'             
          description: Error message
        code:
          type: string
          minLength: 1
          maxLength: 50
          pattern: '.*'             
          description: Error code
        details:
          type: string
          minLength: 0
          maxLength: 500
          pattern: '.*'             
          description: Additional error details
      required: 
        - error
  
## ENDPOINTS

paths:

  /wasatext/login:
    post:
      operationId: doLogin
      security: []
      tags: 
        - Login
      summary: Logs in the user
      description: |-
        If the user does not exist, it will be created,
        and an identifier is returned.
        If the user exists, the user identifier is returned.
      requestBody:
        required: true
        description: User details
        content:
          application/json:
            schema:
              type: object
              description: Schema representing the user credentials required to perform login or account creation.
              properties:
                name:
                  type: string
                  example: Steph
                  minLength: 3
                  maxLength: 30
                  pattern: '^[a-zA-Z0-9._~-]+$'
                  description: Login Name
      responses:
        '201':
          description: User log-in action successful
          content:
            application/json:
              schema:
                type: object
                description: Response containing the unique identifier of the logged-in or newly created user.
                properties:
                  name:
                    type: string
                    minLength: 3
                    maxLength: 30
                    pattern: '^[a-zA-Z0-9._~-]+$'
                    description: Login Name
              example:
                name: "Steph"
  
  /wasatext/register:                                                                                  # Registrare un nuovo utente
    post:
      operationId: registerUser
      security: []
      tags: 
        - Users
      summary: Register a new user
      description: |-
        Creates a new user account with the provided credentials.
        Returns the user identifier and profile information upon successful registration.
        Username must be unique across the platform.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: User registration details
              properties:
                username:
                  type: string
                  minLength: 3
                  maxLength: 30
                  pattern: '^[a-zA-Z0-9._~-]+$'
                  example: steph_curry
                  description: Unique username (letters, numbers, underscore only)
                status:
                  type: string
                  minLength: 1
                  maxLength: 200
                  pattern: '.*'
                  example: "New to FlowChat!"
                  description: Initial user status message
                profilePhoto:
                  type: string
                  format: url
                  minLength: 10
                  maxLength: 500
                  pattern: '^https?:\/\/[^\s\/$.?#].[^\s]*$'
                  description: URL to profile photo (optional, default avatar if not provided)
              required:
                - username
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                description: User created successfully
                properties:
                  identifier:
                    type: string
                    format: uuid
                    minLength: 36     
                    maxLength: 36      
                    pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                    description: Unique user identifier
                  user:
                    $ref: "#/components/schemas/User"
              example:
                identifier: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                user:
                  id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                  username: "steph_curry"
                  profilePhoto: "https://web-chat-app.com/users/profile-images/default.png"
        '400':
          description: Invalid input or username already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Username already exists"
                code: "USERNAME_TAKEN"
                details: "The username 'steph_curry' is already registered"


  /wasatext/{username}/conversations:     # prendo tutte le conversazioni dell'utente loggato in corso --> Lista delle conversazioni (pannelllo a sinistra)
    get:
      operationId: getMyConversations
      summary: Get all conversations for the authenticated user
      description: |-
        Returns all conversations (private chat and group chat) ordered by last message 
        timestamp (most recent first)
      tags:
        - Conversations
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30 
            pattern: '^[a-zA-Z0-9._~-]+$'
            description: Username of the user loggin in this session
          description: Searching Conversation
      responses:
        '200':
          description: List of conversations
          content:
            application/json:
              schema:
                type: object
                description: Conversations
                properties:
                  conversations:
                    type: array
                    items:
                      oneOf:
                        - $ref: "#/components/schemas/PrivateChat"
                        - $ref: "#/components/schemas/GroupChat"  
                    minItems: 0
                    maxItems: 5000          # al massimo 5000 conversazioni può avere l'utente loggato in sessione
                    description: All the conversations of the user in session

              example:
                conversations:
                  - id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                    recipientUser: "2e1f9b33-5c7a-4af8-b83e-9f12aa49d223"
                    snippet: "Hey, how’s everything going?"
                    dtLastMessage: "2025-11-06T13:45:12Z"
                    userPhoto: "https://web-chat-app.com/users/profile-images/martina.jpg"

                  - id: "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                    groupName: "BestShooters"
                    groupDescription: "This group is only for people who don't shoot bricks :)"
                    groupPhoto: "https://web-chat-app.com/groups/profile-images/bestshooters.jpg"
                    snippet: "Let’s play at 8 PM tonight!"
                    dtLastMessage: "2025-11-06T12:30:05Z"
                    members:
                      - "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                      - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                    admins:
                      - "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"




  #######################################              
  # ENDPOINTS di Conversazioni Private.
  ########################################
  /wasatext/{username}/private_chats:
    post:
      operationId: newPrivateChat
      summary: Create a new Private Chat or append message to existing one
      description: |-
        Attempts to create a new Private Chat. 
        - If the chat does NOT exist: Creates it and sends the 'initialMessage' as the first message.
        - If the chat ALREADY exists: Finds the existing chat and SENDS the 'initialMessage' to it immediately.
        In both cases, the message is delivered.
      tags:
        - Private Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30  
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateChatPrototype"
      responses:
        '201':
          description: Conversation created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateChat"
              example:
                id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                recipientUser: "2e1f9b33-5c7a-4af8-b83e-9f12aa49d223"
                snippet: "Hey, how are you doing?"
                dtLastMessage: "2025-11-06T14:12:30Z"
                userPhoto: "https://web-chat-app.com/users/profile-images/martina.jpg"
        '200':
          description: Conversation already exists, returning existing conversation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateChat"
              example:
                id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                recipientUser: "2e1f9b33-5c7a-4af8-b83e-9f12aa49d223"
                snippet: "See you tomorrow!"
                dtLastMessage: "2025-11-05T19:45:12Z"
                userPhoto: "https://web-chat-app.com/users/profile-images/martina.jpg"
        '404':
          description: Recipient user not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"



  /wasatext/{username}/private_chats/{conversationId}:                  
    parameters:                                             # definisco i parameters UNA SOLA VOLTA a livello di path --> non lo ripeto per ogni operazione
    - name: username
      in: path
      required: true
      schema:
        type: string
        minLength: 3                 
        maxLength: 30     
        pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'         
      description: Username of the user loggin in this session
    - name: conversationId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        minLength: 36     
        maxLength: 36      
        pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
      description: Unique Conversation Id

    get:                                  # ritorna l'id della singola "Private Chat" --> nel path
      operationId: getPrivateChatById
      summary: Get a specific Private Chat
      description: Get a specific Private Chat by id
      tags:
        - Private Chats
      responses:
        '200':
          description: Conversation details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateChat"
              example:
                id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                recipientUser: "2e1f9b33-5c7a-4af8-b83e-9f12aa49d223"
                snippet: "Sure, let's meet at 6 PM!"
                dtLastMessage: "2025-11-06T14:25:43Z"
                userPhoto: "https://web-chat-app.com/users/profile-images/martina.jpg"
        '404':
          description: Conversation Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:                                                 # elimino la mia conversazione singola (con un altro utente)
      operationId: deletePrivateChat
      summary: Delete a Private Chat
      description: Deletes the conversation for the authenticated user
      tags:
        - Private Chats
      responses:
        '204':
          description: Conversation deleted successfully
        '403':
          description: User not part of this conversation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Conversation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  ########################################
  # ENDPOINTS di Conversazioni di Gruppo.
  ########################################
  /wasatext/{username}/groups:
    post:                                                   # Creo un nuovo gruppo
      operationId: createNewGroup
      summary: Create a new group Chat
      description: A new group Chat is created
      tags:
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30             
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupChatPrototype"
      responses:
        '201':
          description: Group created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupChat"
              example:
                id: "c1f09a5d-44e2-4f7b-9a33-82dfcc19b4fe"
                groupName: "BestShooters"
                groupDescription: "This group is only for people who don't shoot bricks :)"
                groupPhoto: "https://web-chat-app.com/groups/profile-images/bestshooters.jpg"
                members:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                  - "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                admins:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                snippet: "Welcome to BestShooters!"
                dtLastMessage: "2025-11-06T15:10:23Z"
        '400':  #BadRequest
          description: Invalid input (e.g., non-existent users)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


  /wasatext/{username}/groups/{conversationId}:
    get:                                                      # ottengo una conversazione di Gruppo specifica in base all'id
      operationId: getGroupChat
      summary: Get a specific group Chat
      description: Returns a specific group (group Chat)
      tags:
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30  
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation Id
      responses:
        '200':
          description: Group Chat details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupChat"
              example:
                id: "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                groupName: "BestShooters"
                groupDescription: "This group is only for people who don't shoot bricks :)"
                groupPhoto: "https://web-chat-app.com/groups/profile-images/bestshooters.jpg"
                members:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                  - "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                admins:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                snippet: "Welcome to BestShooters!"
                dtLastMessage: "2025-11-06T15:10:23Z"
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


  /wasatext/{username}/groups/{conversationId}/members:
    post:                                                     # Aggiungo un Membro al Gruppo
      operationId: addToGroup
      summary: Add members to a group
      description: Only group admins can add new members
      tags: 
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30  
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique ConversationId
      requestBody:                                            # corpo input della richiesta
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddMembersRequest"
      responses:
        '201':
          description: Members added successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupChat"
              example:
                id: "d8f1a7c3-6e29-430a-bb42-73a92fe83d6c"
                groupName: "BestShooters"
                groupDescription: "This group is only for people who don't shoot bricks :)"
                groupPhoto: "https://web-chat-app.com/groups/profile-images/bestshooters.jpg"
                members:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                  - "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                admins:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                snippet: "Welcome to BestShooters!"
                dtLastMessage: "2025-11-06T15:10:23Z"
        '403':
          description: User is not an admin of this group
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Group or User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


  /wasatext/{username}/groups/{conversationId}/leave:
    post:
      operationId: leaveGroup
      summary: Leave a group Chat
      description: Remove yourself from the group. If you were an admin, admin status is also removed.
      tags:
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30   
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema: 
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation Id
      responses:
        '204':    # No Content
          description: Successfully left the group
        '403':    # Forbidden 
          description: User is not a member of this group
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"



  /wasatext/{username}/groups/{conversationId}/admins:
    post:                                                           # Rendere Admin un membro del gruppo
      operationId: makeAdmin
      summary: Make a user an admin of the group
      description: Only existing admins can promote other members to admin
      tags:
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30      
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation Id
      requestBody:
        required: true
        content: 
          application/json:
            schema:
              $ref: "#/components/schemas/AdminRequest"
      responses:
        '201':
          description: User promoted to admin successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupChat"
              example:
                id: "d8f1a7c3-6e29-430a-bb42-73a92fe83d6c"
                groupName: "BestShooters"
                groupDescription: "This group is only for people who don't shoot bricks :)"
                groupPhoto: "https://web-chat-app.com/groups/profile-images/bestshooters.jpg"
                members:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                  - "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                admins:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"   # Filippo (admin originario)
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"   # Martina (nuova admin)
                snippet: "Welcome to BestShooters!"
                dtLastMessage: "2025-11-06T15:10:23Z"
        '400':
          description: User is already an admin or not a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '403':
          description: Requesting user is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"



  /wasatext/{username}/groups/{conversationId}/admins/{usernameAdmin}:
    delete:                                                                   # Rimuovo lo stato di Admin da un membro del gruppo
      operationId: removeAdminStatus
      summary: Remove admin status from a user
      description: Only admins can remove admin status from other admins
      tags:
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30  
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation ID
        - name: usernameAdmin
          in: path
          required: true
          schema:
            type: string
            minLength: 3
            maxLength: 30
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: User username
      responses:
        '200':
          description: Admin status removed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupChat"
              example:
                id: "d8f1a7c3-6e29-430a-bb42-73a92fe83d6c"
                groupName: "BestShooters"
                groupDescription: "This group is only for people who don't shoot bricks :)"
                groupPhoto: "https://web-chat-app.com/groups/profile-images/bestshooters.jpg"
                members:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                  - "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                admins:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                snippet: "Welcome to BestShooters!"
                dtLastMessage: "2025-11-06T15:10:23Z"
        '400':
          description: User is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '403':
          description: Requesting user is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


  /wasatext/{username}/groups/{conversationId}/name:
    put:                                                              # modifico nome  gruppo
      operationId: setGroupName
      summary: Update group name
      description: Only group admins can update group information
      tags:
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30  
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Group name 
              properties:
                groupName:
                  type: string
                  minLength: 1
                  maxLength: 200
                  pattern: '.*'
                  description: Group Name
      responses:
        '200':
          description: Group name updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupChat"
              example:
                id: "d8f1a7c3-6e29-430a-bb42-73a92fe83d6c"
                groupName: "BestShooters"
                groupDescription: "This group is only for people who don't shoot bricks :)"
                groupPhoto: "https://web-chat-app.com/groups/profile-images/bestshooters.jpg"
                members:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                  - "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                admins:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"  
                  - "9a74bc10-3f2e-4b19-a8c7-3b9e2df67611"  
                snippet: "Welcome to BestShooters!"
                dtLastMessage: "2025-11-06T15:10:23Z"

        '403':
          description: User is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


  /wasatext/{username}/groups/{conversationId}/description:                                  # modifico la descrizione del gruppo
    put:
      operationId: setGroupDescription
      summary: Update group description
      description: Only group admins can update the group description
      tags:
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30  
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Group description update
              properties:
                groupDescription:
                  type: string
                  minLength: 0
                  maxLength: 1000
                  pattern: '.*'
                  description: New group description
              required:
                - groupDescription
      responses:
        '200':
          description: Group description updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupChat"
              example:
                id: "9a74bc10-3f2e-4b19-a8c7-3b9e2df67611"
                groupName: "BestShooters"
                groupDescription: "Updated: This group is for elite shooters only! 🏀🔥"
                groupPhoto: "https://web-chat-app.com/groups/profile-images/bestshooters.jpg"
                members:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                  - "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                admins:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                snippet: "Group description updated"
                dtLastMessage: "2025-11-09T11:20:15Z"
        '403':
          description: User is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"




  /wasatext/{username}/groups/{conversationId}/photo:                              # modifico la foto del gruppo
    put:
      operationId: setGroupPhoto
      summary: Update group photo
      description: Only group admins can update the group photo
      tags:
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30   
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Group Chat Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: group photo
              properties:
                groupPhoto:
                  type: string
                  format: url
                  minLength: 10
                  maxLength: 500
                  pattern: '^https?:\/\/[^\s\/$.?#].[^\s]*$'
                  description: URL to new group photo
              required: 
                - groupPhoto
      responses:
        '200':
          description: Group photo updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupChat"
              example:
                id: "d8f1a7c3-6e29-430a-bb42-73a92fe83d6c"
                groupName: "BestShooters"
                groupDescription: "This group is only for people who don't shoot bricks :)"
                groupPhoto: "https://web-chat-app.com/groups/profile-images/bestshooters_new.jpg"
                members:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                  - "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                admins:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                snippet: "Group photo updated"
                dtLastMessage: "2025-11-09T11:25:30Z"
        '403':
          description: User is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"




  /wasatext/{username}/groups/{conversationId}/members/{userId}:
    delete:                                                         # Si rimuove un membro dal gruppo
      operationId: removeMember
      summary: Remove a member from the group
      description: Only admins can remove members. Admins cannot be removed, they must be demoted first.
      tags:
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30    
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation ID
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique User ID
      responses:
        '204':
          description: Member removed successfully
        '400':
          description: Cannot remove admin (must demote first)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '403':
          description: User is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Group or user not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"



  ########################################
      # ENDPOINTS dei MESSAGGI
  ########################################      

  /wasatext/{username}/conversations/{conversationId}/messages:
    parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
          minLength: 3                 
          maxLength: 30   
          pattern: '^[a-zA-Z0-9._~-]+$'
        description: Username of the user loggin in this session
      - name: conversationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
        description: Unique Conversation ID
    
    get:                                                # ritorna i messaggi di una specifica conversazione
      operationId: getConversation
      summary: Get all messages in a conversation
      description: Returns messages in reverse chronological order (newest first)
      tags:
        - Messages
      responses:
        '200':
          description: List of messages
          content:
            application/json:
              schema:
                type: object
                description: List of messages
                properties:
                  messages:
                    type: array
                    items:
                      $ref: "#/components/schemas/Message"
                    minItems: 1 # in ogni conversazione c'è almeno 1 messaggio (se una conversazione è iniziata, vuol dire che c'è almeno un messaggio --> per come l'ho implementata)
                    maxItems: 100000
                    description: Messages in reverse chronological order in this Conversation
              example:
                messages:
                  - id: "d8f1a7c3-6e29-430a-bb42-73a92fe83d6c"
                    contentMess: "Hey everyone 👋 ready for tonight’s match?"
                    timestamp: "2025-11-05T10:25:43Z"
                    statusInfo: "read"
                    conversationId: "e34f0b12-52a9-489c-87ce-a91e0fb4476d"
                    senderUserId: "a3f1c8b2-47e9-4db5-93a8-921ddbb512fc"

                  - id: "c8b6d99b-7d52-4a4d-b88a-f82f62221f31"
                    contentMess: "Absolutely! Let’s go ⚽🔥"
                    timestamp: "2025-11-05T10:27:12Z"
                    statusInfo: "delivered"
                    conversationId: "e34f0b12-52a9-489c-87ce-a91e0fb4476d"
                    senderUserId: "a3f1c8b2-47e9-4db5-93a8-921ddbb512fc"
                  

                  - id: "7bfa4e12-5d93-43a4-b1d8-f61cb211d87b"
                    contentMess: "Sending you the lineup PDF 📄"
                    timestamp: "2025-11-05T10:30:01Z"
                    statusInfo: "read"
                    conversationId: "e34f0b12-52a9-489c-87ce-a91e0fb4476d"
                    senderUserId: "a3f1c8b2-47e9-4db5-93a8-921ddbb512fc"
                    
        '403':
          description: User is not part of this conversation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"



    post:                                                                     # invio di un nuovo messaggio
      operationId: sendMessage
      summary: Send a new message
      description: Sending a new message in this conversation
      tags:
        - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
               $ref: "#/components/schemas/NewMessage"
      responses:
        '201':    # Created
          description: Message sent successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
              example:
                id: "e34f0b12-52a9-489c-87ce-a91e0fb4476d"
                contentMess: "Hey guys, I just created the group event for tonight 🎉"
                timestamp: "2025-11-05T10:48:31Z"
                statusInfo: "read"
                conversationId: "e34f0b12-52a9-489c-87ce-a91e0fb4476d"
                senderUserId: "a3f1c8b2-47e9-4db5-93a8-921ddbb512fc"
        '403':
          description: User is not part of this conversation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


  /wasatext/{username}/conversations/{conversationId}/messages/{messageId}:
    parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30  
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation ID
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Message ID
  
    patch:                                                                        # Modifico un Messaggio
      operationId: editMessage
      summary: Edit a message content
      description: Update the text content of an existing message. Only the sender can edit.
      tags:
        - Messages
      requestBody:
        required: true
        content:
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/MessageUpdate"
      responses:
        '200':
          description: Message updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
              example:
                id: "c1f09a5d-44e2-4f7b-9a33-82dfcc19b4fe"
                contentMess: "Hey guys, change of plans — meeting at 8:30 instead of 8 ⏰"
                timestamp: "2025-11-05T11:10:45Z"
                statusInfo: "delivered"
                conversationId: "e34f0b12-52a9-489c-87ce-a91e0fb4476d"
                senderUserId: "a3f1c8b2-47e9-4db5-93a8-921ddbb512fc"

        '403':
          description: User is not the sender of this message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Message not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


    delete:                                                   # Utente elimina un messaggio da lui inviato in quella conversazione
      operationId: deleteMessage
      summary: Delete a message
      description: Only the sender can delete their own messages
      tags:
        - Messages
      responses:
        '204':  # No Content
          description: Message deleted successfully
        '403':
          description: User is not the sender of this message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Message not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


  /wasatext/{username}/conversations/{conversationId}/messages/{messageId}/forward:
    post:                                                             # Inoltrare un messaggio
      operationId: forwardMessage
      summary: Forward a message to another conversation
      description: Forward an existing message to a different conversation
      tags:
        - Messages
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30              
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation ID
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Message ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForwardMessage"           
        
      responses:
        '201':
          description: Message forwarded successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
              example:
                id: "2e1f9b33-5c7a-4af8-b83e-9f12aa49d223"
                contentMess: "📸 Check out this photo!"
                timestamp: "2025-11-05T15:10:42Z"
                statusInfo: "read"
                conversationId: "e34f0b12-52a9-489c-87ce-a91e0fb4476d"
                senderUserId: "d8f1a7c3-6e29-430a-bb42-73a92fe83d6c"

        '403':
          description: User is not part of source or target conversation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Message or conversation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"





  #######################
  # ENDPOINTS REACTION
  #######################

  /wasatext/{username}/conversations/{conversationId}/messages/{messageId}/reactions:
    parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30   
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation ID
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Message ID
            
    post:                                       #Aggiungere una Reazione a un messaggio specifico
      operationId: commentMessage
      summary: Add a reaction to a message
      description: Add an emoji reaction to a message. Each user can only have one reaction per message.
      tags:
        - Reactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewReaction"
      responses:
        '201':
          description: Reaction added successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reaction"
              example:
                reactionId: "d8f1a7c3-6e29-430a-bb42-73a92fe83d6c"              ## id univoco reaction
                emoji: "🔥"                                                     ## emoji che rappresenta la reazione aggiunta           ## UUID utente che ha reagito
                senderUsername: "filippo_dev"                                   ## nome utente che ha reagito
        '400':
          description: User already reacted to this message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Message not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


    delete:                                                               # Rimuovo una mia reazione a un messaggio (Un utente può rimuovere solo una propria reazione, non quella di altri (anche se admin, se siamo in un gruppo))
      operationId: uncommentMessage
      summary: Remove reaction from a message
      description: Remove the authenticated user's reaction from a message
      tags:
        - Reactions
      responses:
        '204':
          description: Reaction removed successfully
        '404':
          description: Message or reaction not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    get:                                                                # ritorno tutte le Reazioni a un messaggio specifico
      operationId: getAllMessageReactions
      summary: Get all reactions for a message
      description: I take all the reactions of a specific message
      tags:
        - Reactions
      responses:
        '200':
          description: List of reactions
          content:
            application/json:
              schema:
                type: object
                description: Reactions
                properties:
                  reactions:
                    type: array
                    items:
                      $ref: "#/components/schemas/Reaction"
                    minItems: 0
                    maxItems: 300                                 # numero massimo di partecipanti in un gruppo --> di conseguenza anche il numero massimo di reazioni (visto che è una a testa)
                    description: All the reactions of this message
              example:
                reactions:
                  - reactionId: "9a74bc10-3f2e-4b19-a8c7-3b9e2df67611"
                    emoji: "❤️"
                    senderUsername: "martina_98"
                  - reactionId: "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                    emoji: "😂"
                    senderUsername: "luca_dev"


  #####################################
  # ENDPOINTS STATO E PROFILO UTENTE
  #####################################

  /wasatext/{username}/profile:

    get:                                                                    # Ottengo i dettagli del profilo che è loggato in questo momento
      operationId: myProfileDetails
      summary: Get current user profile
      description: Returns all the information about the user logged in to the session
      tags:
        - Users
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30         
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
      responses:
        '200':
          description: Current user details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
              example:
                id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                username: "filippo_dev"
                profilePhoto: "https://web-chat-app.com/users/profile-images/filippo_dev.jpg"


  /wasatext/{username}/profile/status:

    patch:                                                                  # Modifico il profilo utente, dell'utente loggato in questo momento
      operationId: modifyProfileStatus
      summary: Update current user profile status
      description: Update current User profile logged in this session
      tags:
        - Users
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30         
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
      requestBody:
        required: true
        content:
          application/json-patch+json:
            schema:
              type: object
              description: Update profile status 
              properties:
                status:
                  type: string
                  minLength: 0
                  maxLength: 200
                  pattern: '.*'
                  description: User status message
      responses:
        '200':
          description: Profile Status updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
              example:
                id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                username: "filippo_dev"
                profilePhoto: "https://web-chat-app.com/users/profile-images/filippo_dev_new.jpg"


  /wasatext/{username}/user_search:                                          # Ricercare un utente tra tutti gli utenti registrati nella web app
    get:
      operationId: searchUser
      summary: Search for a user by username
      description: Retrieves a single user profile by searching their unique username via query parameter
      tags:
        - Users
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30  
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: usernameSearched    # Con questo parametro di query vado a filtrare la lista 
          in: query
          required: true
          schema:
            type: string
            minLength: 3
            maxLength: 30
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username to search for
      responses:
        '200':
          description: User found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
              example:
                id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                username: "steph_curry"
                profilePhoto: "https://web-chat-app.com/users/profile-images/steph_curry.png"

        '404':
          description: User Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /wasatext/{username}/profile/username:
    put:                                               # Modifico il mio username
      operationId: setMyUserName
      summary: Update current user's username
      description: |-
        Updates the username of the currently authenticated user.  
        The request must include the new desired username in the request body.  
        If the username is valid and not already taken, it is updated successfully  
        and the updated user profile is returned.  
        If the username already exists, an error response is returned.
      tags:
        - Users
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUsernameRequest"

      responses:
        '200':
          description: Username updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
              example:
                id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                username: "Ryan_Ted"
                profilePhoto: "https://web-chat-app.com/users/profile-images/ryan_ted.png"

        '400':
          description: Username already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"



  /wasatext/{username}/profile/photo:
    put:
      operationId: setMyPhoto
      summary: Update current user's profile photo
      description: |-
        Updates the profile photo of the currently authenticated user.
        The request must include the new photo URL in the request body.
        If the URL is valid, the profile photo is updated successfully
        and the updated user profile is returned.
      tags:
        - Users
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30 
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: profile photo
              properties:
                profilePhoto:
                  type: string
                  format: url
                  minLength: 10
                  maxLength: 500
                  pattern: '^https?:\/\/[^\s\/$.?#].[^\s]*$'
                  description: URL to new profile photo
              required:
                - profilePhoto
      responses:
        '200':
          description: Profile photo updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
              example:
                id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                username: "filippo_dev"
                profilePhoto: "https://web-chat-app.com/users/profile-images/filippo_new_photo.png"
        '400':
          description: Invalid URL format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"



  /wasatext/{username}/users/{usernameProfileSearched}:
    get:                                                                      # ritornare un profilo utente tramite id
      operationId: getUserProfile
      summary: Get user profile by ID
      description: I return the user profile by passing his username as a parameter in the path
      tags:
        - Users
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30    
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: usernameProfileSearched
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique User ID
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
              example:
                id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                username: "filippo_dev"
                profilePhoto: "https://web-chat-app.com/users/profile-images/filippo_dev_new.jpg"
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


  

  
  ###########################################
  # ALTRO
  ###########################################


  /wasatext/{username}/conversations/{conversationId}/messages/{messageId}/favourite:
    parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
          minLength: 3                 
          maxLength: 30 
          pattern: '^[a-zA-Z0-9._~-]+$'
        description: Username of the user loggin in this session
      - name: conversationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
        description: Unique Conversation ID
      - name: messageId
        in: path
        required: true
        schema:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
        description: Unique Message ID
    
    post:                                                                             # Aggiungo un messaggio tra i "Preferiti" in questa conversazione specifica
      operationId: addMessageToFavourites
      summary: Add message to favourites
      description: Mark a message as favourite in this conversation
      tags:
        - Favourites  
      responses:
        '204':
          description: Message added to favourites successfully
        '400':  
          description: Message already in favourites
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '403':
          description: User is not part of this conversation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Message not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    
    delete:                                                                           # Rimuovo un messaggio tra i "Preferiti" in questa conversazione specifica
      operationId: removeMessageFromFavourites
      summary: Remove message from favourites
      description: Unmark a message as favourite
      tags:
        - Favourites  
      responses:
        '204':
          description: Message removed from favourites successfully
        '404':
          description: Message not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"



  /wasatext/{username}/conversations/{conversationId}/favourites:
    get:                                                                                          # ottengo tutti i preferiti di una conversazione specifica
      operationId: getConversationFavourites
      summary: Get favourite messages in a conversation
      description: Returns all messages marked as favourite in this specific conversation
      tags:
        - Favourites
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30  
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation ID
      responses:
        '200':
          description: List of favourite messages
          content:
            application/json:
              schema:
                type: object
                description: List of favourite messages
                properties:
                  favourites:
                    type: array
                    items:
                      type: string
                      format: uuid
                      minLength: 36     
                      maxLength: 36      
                      pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                      description: Favourite Meesage Id of this conversation
                    minItems: 0
                    maxItems: 100000
                    description: Favourite message IDs in this conversation
                  total:
                    type: integer
                    description: Total number of favourites in this conversation
              example:
                favourites:
                  - "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                  - "2e1f9b33-5c7a-4af8-b83e-9f12aa49d223"
                  - "9a74bc10-3f2e-4b19-a8c7-3b9e2df67611"
        '403':
          description: User is not part of this conversation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


