openapi: 3.0.4
info:
  title: WASAtext
  description:  API Web Chat App, University project
  version: 1.1.1
  
servers:
  - url: https://api.web-chat-app.com/v1
    description: Web Chat Application API Description

security:
  - bearerAuth: []

tags:
  - name: Users
    description: User management, search
  - name: Conversations
    description: General conversation operations
  - name: Private Chats
    description: One-to-one conversation management
  - name: Group Chats
    description: Group Chat management and administration
  - name: Messages
    description: Message operations (send, edit, delete, forward)
  - name: Reactions
    description: Message reaction operations
  - name: Login
    description: Login user
  - name: Media                
    description: Image upload operations


components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from login

  schemas:  
    
    # Schema condiviso per la risposta di autenticazione
    AuthResponse:
      type: object
      description: Standard response for Login and Registration
      properties:
        id:
          type: string
          format: uuid
          minLength: 36
          maxLength: 36
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique user identifier (UUID). Save this in the frontend state/session.
        username:
          type: string
          minLength: 3
          maxLength: 30
          pattern: '^[a-zA-Z0-9._~-]+$'
          description: User's username
        profilePhoto:
           type: string
           format: url
           description: URL of the profile photo (useful for UI navbar immediately after login)
      required:
        - id
        - username



    User:
      type: object
      description: Representation of a User in the system.
      properties:
        id:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique user id (UUID)
        username:
          type: string
          minLength: 3
          maxLength: 30
          example: steph_curry
          pattern: '^[a-zA-Z0-9._~-]+$'
          description: Unique username; only letters, numbers and underscore
        profilePhoto:
          type: string
          format: url                               # Url dell'immagine
          minLength: 10
          maxLength: 500
          pattern: '^https?:\/\/[^\s\/$.?#].[^\s]*$'
          description: URL User profile photo
        status:
          type: string 
          minLength: 1
          maxLength: 200
          pattern: '.*'               # gestire lato server
          description: User Status     
          example: "Available, write to me! :)"
      required:
        - id 
        - username
        - profilePhoto
  

  
    GroupChat:
      type: object
      description: Representation of a Group Chat
      properties:
        conversationType:  
          type: string
          description: Conversation Type, Group
          enum: 
            - group
          example: "group"
        id:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique id Conversation
        groupName:
          type: string
          minLength: 1
          maxLength: 200
          pattern: '.*'             # gestire lato server
          example: BestShooters
          description: Group name
        groupDescription:
          type: string
          #pattern:            Validare/Sanificare lato server  # pattern che permette Testo + Emoji  
          minLength: 0
          maxLength: 1000
          description: Group description
          example: "This group is only for people who don't shoot bricks :)"
        groupPhoto:
          type: string
          format: url
          minLength: 10
          maxLength: 500
          pattern: '^https?:\/\/[^\s\/$.?#].[^\s]*$'
          description: Group photo
        members:
          type: array
          items:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            description: Id user of member  to add      # passo gli id, poi gestisco lato server
          minItems: 1                                   # almeno un utente deve essere unito al gruppo (quando creato)
          maxItems: 300
          description: Group members  
        admins:
          description: List of admin users in the group
          type: array
          items:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            description: User IDs of group admins
          minItems: 1
          maxItems: 100
        snippet:              # anteprima
          type: string
          minLength: 1
          maxLength: 300
          pattern: '.*'             # gestire lato server
          description: Conversation snippet
          #pattern:            Validare/Sanificare lato server  # pattern che permette Testo + Emoji            
          example: "Yeah, I want to talk about..."
        dtLastMessage:
          type: string
          format: date-time
          minLength: 20
          maxLength: 50
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d+)?(Z|[\+\-]\d{2}:\d{2})$'
          description: date and time of the last message in a Group Chat
      required: 
        - id
        - groupName
        - members
        - groupPhoto
        - snippet
        - dtLastMessage


    PrivateChat:
      type: object
      description: Representation of a Private Chat
      properties:
        conversationType:   
          type: string
          description: Conversation Type, Private
          enum: 
            - private
          example: "private"
        id:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Private Chat Id
        recipientUser:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Id of recipient user
        recipientUsername:     
          type: string
          minLength: 3
          maxLength: 30
          pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the recipient
        snippet:              # anteprima
          type: string
          minLength: 1
          maxLength: 300
          pattern: '.*'             # gestire lato server
          example: "Yeah, I want to talk about..."
          description: Private Chat snippet
        dtLastMessage:
          type: string
          format: date-time
          minLength: 20
          maxLength: 50
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d+)?(Z|[\+\-]\d{2}:\d{2})$'
          description: date and time of the last message in a Sigle Conversation
        userPhoto:
          type: string
          format: url
          minLength: 10
          maxLength: 500
          pattern: '^https?:\/\/[^\s\/$.?#].[^\s]*$'
          description: User Photo
        initialMessage:           # lo inserisco perché per scelta progettuale voglio che per iniziare una conversazione privata, debba essere inviato almeno un messaggio
          type: string
          minLength: 1
          maxLength: 5000
          pattern: '.*'
          description: First message (Write Only - used during creation)
          writeOnly: true
      required: 
        - id 
        - recipientUser
        - recipientUsername
        - snippet
        - dtLastMessage
        - userPhoto


    GroupChatPrototype:     # Inserimento di una nuova chat di gruppo
      type: object
      description: Representation of a NEW Group Chat
      properties:
        groupName:
          type: string
          minLength: 1
          maxLength: 200
          pattern: '.*'             # gestire lato server
          description: Group name
        groupDescription:
          type: string
          minLength: 1
          maxLength: 1000
          pattern: '.*'             # gestire lato server
          description: Group description
        members:
          type: array
          description: List of User IDs to add to the group
          items:
            type: string
            format: uuid       
            minLength: 36     
            maxLength: 36       
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            description: User ID of the member to add
          minItems: 1
          maxItems: 300
      required: 
        - groupName
        - members
        

    PrivateChatPrototype:     # Inserimento di una nuova chat privata
      type: object
      description:  Representation of a NEW Private Chat
      properties:
        recipientUser:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Id of recipient user
        initialMessage:
          type: string
          minLength: 1
          maxLength: 5000
          pattern: '.*'             # gestire lato server
          description: First message to send in the conversation
      required: 
        - recipientUser
        - initialMessage


    Message:
      type: object
      description: Representation of a Message in the system
      properties:
        id:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Message Id
        contentMess:
          type: string
          minLength: 1
          maxLength: 5000
          pattern: '.*'             # gestire lato server
          description: Message content. May include text, emojis, links, and attachments.
        timestamp:
          type: string
          format: date-time
          minLength: 20
          maxLength: 50
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d+)?(Z|[\+\-]\d{2}:\d{2})$'
          description: Message timestamp
        statusInfo:
          type: string
          enum:
            - delivered
            - read
          description: Message status
        conversationId:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation Id
        senderUserId:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: User ID who sent the message
        senderUsername:
          type: string
          minLength: 3
          maxLength: 30
          pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of user who sent
          readOnly: true    # lo gestisco lato server, altrimenti se l'utente cambia nome, devo aggiornare tutti i messaggi precedenti --> l'username me lo ricavo lato server (dal DB)
        forwarded:                        # Indica se il messaggio è stato inoltrato da qualche altra chat --> Boolean 
          type: boolean
          default: false
          description: Indicates if message was forwarded
        reactions:
          type: array
          description: List of reactions
          minItems: 0
          maxItems: 300
          items:
            $ref: "#/components/schemas/Reaction"
        messagePhoto:
          type: string
          format: url
          description: Optional URL of an image attached to the message
        replyTo:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: ID of the message being replied to (optional)
      required: 
        - id
        - contentMess
        - timestamp
        - statusInfo
        - conversationId
        - senderUserId
        - senderUsername      # Lo calcolo con il JOIN nel DB -- se cambia username altrimenti avrei record non aggiornati
        - forwarded
        - reactions


    NewMessage:
      type: object
      description: Input payload for sending a new message. Server handles timestamp and author.
      properties:
        contentMess:
          type: string
          minLength: 1
          maxLength: 5000
          pattern: '.*'
          description: Message content (text, emojis).
        messagePhoto:
          type: string
          format: url
          maxLength: 500
          description: Optional URL of the image to send
        replyTo:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: ID of the message to reply to

      required:
        - contentMess

    MessageUpdate:
      type: object
      description: Input payload for editing a message.
      properties:
        contentMess:
          type: string
          minLength: 1
          maxLength: 5000
          pattern: '.*'
          description: The new content of the message.
      required:
        - contentMess

     
    ForwardMessage:                   # Inoltra un messaggio
      type: object
      description: Representation of a forwarded message
      properties:
        # messToForwardId: E' nell'URL del path
        targetConversationId:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Conversation to forward the message to (if known).
        targetUserId:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: User ID to forward the message to. (The server will find the existing chat or create a new one).

      #required: 
      #  - targetConversationId    # Opzionale -- nel caso non ho già una conversazione con quella chat


    Reaction:
      type: object
      description: Representation of a reaction to a message
      properties:
        reactionId: 
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Reaction ID
        emoji:
          type: string
          minLength: 1
          maxLength: 20  # Permette emoji composte 
          pattern: '.*'             # gestire lato server
          description: Emoji reaction (single or composite emoji)
        timestamp:
          type: string
          format: date-time
          minLength: 20
          maxLength: 50
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d+)?(Z|[\+\-]\d{2}:\d{2})$'
          description: Reaction timestamp
        messToReactId:         
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: The Messagge where will react           
        senderUserId:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: User who reacted
        senderUsername:
          type: string
          minLength: 3
          maxLength: 30
          pattern: '^[a-zA-Z0-9._~-]+$'
          description: User username who reacted
          readOnly: true    # lo gestisco lato server, altrimenti se l'utente cambia nome, devo aggiornare tutti i messaggi precedenti --> l'username me lo ricavo lato server (dal DB)
      required: 
        - reactionId
        - emoji
        - senderUserId
        - senderUsername

    NewReaction:
      type: object
      description: Representation of a New reaction to a message
      properties:
        emoji:
          type: string
          minLength: 1
          maxLength: 20  # Permette emoji composte 
          pattern: '.*'             # gestire lato server
          description: Emoji reaction (single or composite emoji)
      required: 
        - emoji


    AddMembersRequest:
      type: object
      description: Representation requested adding a member to a group
      properties:
        usersIdsToAdd:
          type: array
          description: Array of UUIDs of users to add
          items:
            type: string
            format: uuid       
            minLength: 36     
            maxLength: 36       
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            description: User ID
          minItems: 1
          maxItems: 300
      required: 
        - usersIdsToAdd



    AdminRequest:
      type: object
      description: Request to make a member an administrator
      properties:
        userIdToPromote:       
          type: string
          format: uuid         
          minLength: 36     
          maxLength: 36       
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: User ID of the member to promote
      required:
        - userIdToPromote


    UpdateUsernameRequest:
      type: object
      description: Requested representation to change your username
      properties:
        newUsername:
          type: string
          minLength: 3
          maxLength: 30
          pattern: '^[a-zA-Z0-9._~-]+$'
          description: New username (must be unique)
      required: 
        - newUsername


    Error:
      type: object
      description: Textual representation of the error
      properties:
        error:
          type: string
          minLength: 1
          maxLength: 200
          pattern: '.*'             
          description: Error message
        code:
          type: string
          minLength: 1
          maxLength: 50
          pattern: '.*'             
          description: Error code
        details:
          type: string
          minLength: 0
          maxLength: 500
          pattern: '.*'             
          description: Additional error details
      required: 
        - error
  
## ENDPOINTS

paths:

  /session/login:
    post:
      operationId: doLogin
      security: []
      tags: 
        - Login
      summary: Logs in the user
      description: |-
        Checks if the user exists.
        - If exists: Returns the User ID and details.
        - If NOT exists: Returns 404 (User must register).
      requestBody:
        required: true
        description: User details
        content:
          application/json:
            schema:
              type: object
              description: Schema representing the user credentials required to perform login or account creation.
              properties:
                username:
                  type: string
                  minLength: 3
                  maxLength: 30
                  pattern: '^[a-zA-Z0-9._~-]+$'
                  example: "steph_curry"
                  description: Login Name
              required:
                - username
      responses:
        '201':
          description: User log-in action successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
              example:
                  id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                  username: "steph_curry"
                  profilePhoto: "https://web-chat-app.com/users/profile-images/default.png"
  
  /session/register:                                                                                  # Registrare un nuovo utente
    post:
      operationId: registerUser
      security: []
      tags: 
        - Users
      summary: Register a new user
      description: |-
        Creates a new user account.
        Returns the user identifier and profile information upon successful registration.
        Username must be unique.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: User registration details
              properties:
                username:
                  type: string
                  minLength: 3
                  maxLength: 30
                  pattern: '^[a-zA-Z0-9._~-]+$'
                  example: steph_curry
                  description: Unique username (letters, numbers, underscore only)
                status:
                  type: string
                  minLength: 0
                  maxLength: 200
                  pattern: '.*'
                  example: "New to WASAtext!"
                  description: Initial user status message
                profilePhoto:
                  type: string
                  format: url
                  minLength: 10
                  maxLength: 500
                  pattern: '^https?:\/\/[^\s\/$.?#].[^\s]*$'
                  description: URL to profile photo 
              required:
                - username
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
              example:
                  id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                  username: "steph_curry"
                  profilePhoto: "https://web-chat-app.com/users/profile-images/default.png"
        '400':
          description: Invalid input or username already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Username already exists"
                code: "USERNAME_TAKEN"
                details: "The username 'steph_curry' is already registered"


  /wasatext/{username}/conversations:     # prendo tutte le conversazioni dell'utente loggato in corso --> Lista delle conversazioni (pannelllo a sinistra)
    get:
      operationId: getMyConversations
      summary: Get all conversations for the authenticated user
      description: |-
        Returns all conversations (private chat and group chat) ordered by last message 
        timestamp (most recent first)
      tags:
        - Conversations
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30 
            pattern: '^[a-zA-Z0-9._~-]+$'
            description: Username of the user loggin in this session
          description: Searching Conversation
      responses:
        '200':
          description: List of conversations
          content:
            application/json:
              schema:
                type: object
                description: Conversations
                properties:
                  conversations:
                    type: array
                    items:
                      oneOf:
                        - $ref: "#/components/schemas/PrivateChat"
                        - $ref: "#/components/schemas/GroupChat"  
                    minItems: 0
                    maxItems: 5000          # al massimo 5000 conversazioni può avere l'utente loggato in sessione
                    description: All the conversations of the user in session

              example:
                conversations:
                  # Esempio Private Chat
                  - conversationType: "private"
                    id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                    recipientUser: "2e1f9b33-5c7a-4af8-b83e-9f12aa49d223"
                    recipientUsername: "martina_98"
                    snippet: "Hey, how’s everything going?"
                    dtLastMessage: "2025-11-06T13:45:12Z"
                    userPhoto: "https://web-chat-app.com/users/profile-images/martina.jpg"

                  # Esempio Group Chat
                  - conversationType: "group"
                    id: "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                    groupName: "BestShooters"
                    groupDescription: "This group is only for people who don't shoot bricks :)"
                    groupPhoto: "https://web-chat-app.com/groups/profile-images/bestshooters.jpg"
                    snippet: "Let’s play at 8 PM tonight!"
                    dtLastMessage: "2025-11-06T12:30:05Z"
                    members:
                      - "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                      - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                    admins:
                      - "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"




  #######################################              
  # ENDPOINTS di Conversazioni Private.
  ########################################
  /wasatext/{username}/private_chats:
    post:
      operationId: newPrivateChat
      summary: Create a new Private Chat or append message to existing one
      description: |-
        Attempts to create a new Private Chat. 
        - If the chat does NOT exist: Creates it and sends the 'initialMessage' as the first message.
        - If the chat ALREADY exists: Finds the existing chat and SENDS the 'initialMessage' to it immediately.
        In both cases, the message is delivered.
      tags:
        - Private Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30  
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateChatPrototype"
      responses:
        '201':
          description: Conversation created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateChat"
              example:
                conversationType: "private"
                id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                recipientUser: "2e1f9b33-5c7a-4af8-b83e-9f12aa49d223"
                recipientUsername: "martina_98"
                snippet: "Hey, how are you doing?"
                dtLastMessage: "2025-11-06T14:12:30Z"
                userPhoto: "https://web-chat-app.com/users/profile-images/martina.jpg"
        '200':
          description: Conversation already exists, returning existing conversation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateChat"
              example:
                conversationType: "private"
                id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                recipientUser: "2e1f9b33-5c7a-4af8-b83e-9f12aa49d223"
                recipientUsername: "martina_98"
                snippet: "Hey, how are you doing?"
                dtLastMessage: "2025-11-06T14:12:30Z"
                userPhoto: "https://web-chat-app.com/users/profile-images/martina.jpg"
        '404':
          description: Recipient user not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"



  /wasatext/{username}/private_chats/{conversationId}:                  
    parameters:                                             # definisco i parameters UNA SOLA VOLTA a livello di path --> non lo ripeto per ogni operazione
    - name: username
      in: path
      required: true
      schema:
        type: string
        minLength: 3                 
        maxLength: 30     
        pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'         
      description: Username of the user loggin in this session
    - name: conversationId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        minLength: 36     
        maxLength: 36      
        pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
      description: Unique Conversation Id

    get:                                  # ritorna l'id della singola "Private Chat" --> nel path
      operationId: getPrivateChatById
      summary: Get a specific Private Chat
      description: Get a specific Private Chat by id
      tags:
        - Private Chats
      responses:
        '200':
          description: Conversation details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateChat"
              example:
                conversationType: "private"       
                id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                recipientUser: "2e1f9b33-5c7a-4af8-b83e-9f12aa49d223"
                recipientUsername: "martina_98"   
                snippet: "Hey, how are you doing?"
                dtLastMessage: "2025-11-06T14:12:30Z"
                userPhoto: "https://web-chat-app.com/users/profile-images/martina.jpg"
        '404':
          description: Conversation Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


  ########################################
  # ENDPOINTS di Conversazioni di Gruppo.
  ########################################
  /wasatext/{username}/groups:
    post:                                                   # Creo un nuovo gruppo
      operationId: createNewGroup
      summary: Create a new group Chat
      description: A new group Chat is created
      tags:
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30             
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupChatPrototype"
      responses:
        '201':
          description: Group created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupChat"
              example:
                id: "c1f09a5d-44e2-4f7b-9a33-82dfcc19b4fe"
                groupName: "BestShooters"
                groupDescription: "This group is only for people who don't shoot bricks :)"
                groupPhoto: "https://web-chat-app.com/groups/profile-images/bestshooters.jpg"
                members:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                  - "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                admins:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                snippet: "Welcome to BestShooters!"
                dtLastMessage: "2025-11-06T15:10:23Z"
        '400':  #BadRequest
          description: Invalid input (e.g., non-existent users)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


  /wasatext/{username}/groups/{conversationId}:
    get:                                                      # ottengo una conversazione di Gruppo specifica in base all'id
      operationId: getGroupChat
      summary: Get a specific group Chat
      description: Returns a specific group (group Chat)
      tags:
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30  
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation Id
      responses:
        '200':
          description: Group Chat details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupChat"
              example:
                id: "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                groupName: "BestShooters"
                groupDescription: "This group is only for people who don't shoot bricks :)"
                groupPhoto: "https://web-chat-app.com/groups/profile-images/bestshooters.jpg"
                members:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                  - "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                admins:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                snippet: "Welcome to BestShooters!"
                dtLastMessage: "2025-11-06T15:10:23Z"
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


  /wasatext/{username}/groups/{conversationId}/members:
    post:                                                     # Aggiungo un Membro al Gruppo
      operationId: addToGroup
      summary: Add members to a group
      description: Only group admins can add new members
      tags: 
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30  
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique ConversationId
      requestBody:                                            # corpo input della richiesta
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddMembersRequest"
      responses:
        '201':
          description: Members added successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupChat"
              example:
                id: "d8f1a7c3-6e29-430a-bb42-73a92fe83d6c"
                groupName: "BestShooters"
                groupDescription: "This group is only for people who don't shoot bricks :)"
                groupPhoto: "https://web-chat-app.com/groups/profile-images/bestshooters.jpg"
                members:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                  - "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                admins:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                snippet: "Welcome to BestShooters!"
                dtLastMessage: "2025-11-06T15:10:23Z"
        '403':
          description: User is not an admin of this group
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Group or User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


  /wasatext/{username}/groups/{conversationId}/leave:
    post:
      operationId: leaveGroup
      summary: Leave a group Chat
      description: Remove yourself from the group. If you were an admin, admin status is also removed.
      tags:
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30   
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema: 
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation Id
      responses:
        '204':    # No Content
          description: Successfully left the group
        '403':    # Forbidden 
          description: User is not a member of this group
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"



  /wasatext/{username}/groups/{conversationId}/admins:
    post:                                                           # Rendere Admin un membro del gruppo
      operationId: makeAdmin
      summary: Make a user an admin of the group
      description: Only existing admins can promote other members to admin
      tags:
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30      
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation Id
      requestBody:
        required: true
        content: 
          application/json:
            schema:
              $ref: "#/components/schemas/AdminRequest"
      responses:
        '201':
          description: User promoted to admin successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupChat"
              example:
                id: "d8f1a7c3-6e29-430a-bb42-73a92fe83d6c"
                groupName: "BestShooters"
                groupDescription: "This group is only for people who don't shoot bricks :)"
                groupPhoto: "https://web-chat-app.com/groups/profile-images/bestshooters.jpg"
                members:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                  - "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                admins:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"   # Filippo (admin originario)
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"   # Martina (nuova admin)
                snippet: "Welcome to BestShooters!"
                dtLastMessage: "2025-11-06T15:10:23Z"
        '400':
          description: User is already an admin or not a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '403':
          description: Requesting user is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"



  /wasatext/{username}/groups/{conversationId}/admins/{userId}:
    delete:                                                                   # Rimuovo lo stato di Admin da un membro del gruppo
      operationId: removeAdminStatus
      summary: Remove admin status from a user
      description: Only admins can remove admin status from other admins
      tags:
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30  
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation ID
        - name: userId        
          in: path
          required: true
          schema:
            type: string
            format: uuid      
            minLength: 36
            maxLength: 36
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: The UUID of the admin to demote
      responses:
        '200':
          description: Admin status removed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupChat"
              example:
                id: "d8f1a7c3-6e29-430a-bb42-73a92fe83d6c"
                groupName: "BestShooters"
                groupDescription: "This group is only for people who don't shoot bricks :)"
                groupPhoto: "https://web-chat-app.com/groups/profile-images/bestshooters.jpg"
                members:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                  - "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                admins:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                snippet: "Welcome to BestShooters!"
                dtLastMessage: "2025-11-06T15:10:23Z"
        '400':
          description: User is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '403':
          description: Requesting user is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


  /wasatext/{username}/groups/{conversationId}/name:
    put:                                                              # modifico nome  gruppo
      operationId: setGroupName
      summary: Update group name
      description: Only group admins can update group information
      tags:
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30  
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Group name 
              properties:
                groupName:
                  type: string
                  minLength: 1
                  maxLength: 200
                  pattern: '.*'
                  description: Group Name
      responses:
        '200':
          description: Group name updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupChat"
              example:
                id: "d8f1a7c3-6e29-430a-bb42-73a92fe83d6c"
                groupName: "BestShooters"
                groupDescription: "This group is only for people who don't shoot bricks :)"
                groupPhoto: "https://web-chat-app.com/groups/profile-images/bestshooters.jpg"
                members:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                  - "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                admins:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"  
                  - "9a74bc10-3f2e-4b19-a8c7-3b9e2df67611"  
                snippet: "Welcome to BestShooters!"
                dtLastMessage: "2025-11-06T15:10:23Z"

        '403':
          description: User is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


  /wasatext/{username}/groups/{conversationId}/description:                                  # modifico la descrizione del gruppo
    put:
      operationId: setGroupDescription
      summary: Update group description
      description: Only group admins can update the group description
      tags:
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30  
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Group description update
              properties:
                groupDescription:
                  type: string
                  minLength: 0
                  maxLength: 1000
                  pattern: '.*'
                  description: New group description
              required:
                - groupDescription
      responses:
        '200':
          description: Group description updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupChat"
              example:
                id: "9a74bc10-3f2e-4b19-a8c7-3b9e2df67611"
                groupName: "BestShooters"
                groupDescription: "Updated: This group is for elite shooters only! 🏀🔥"
                groupPhoto: "https://web-chat-app.com/groups/profile-images/bestshooters.jpg"
                members:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                  - "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                admins:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                snippet: "Group description updated"
                dtLastMessage: "2025-11-09T11:20:15Z"
        '403':
          description: User is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"




  /wasatext/{username}/groups/{conversationId}/photo:                              # modifico la foto del gruppo
    put:
      operationId: setGroupPhoto
      summary: Update group photo
      description: Only group admins can update the group photo
      tags:
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30   
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Group Chat Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: group photo
              properties:
                groupPhoto:
                  type: string
                  format: url
                  minLength: 10
                  maxLength: 500
                  pattern: '^https?:\/\/[^\s\/$.?#].[^\s]*$'
                  description: URL to new group photo
              required: 
                - groupPhoto
      responses:
        '200':
          description: Group photo updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupChat"
              example:
                id: "d8f1a7c3-6e29-430a-bb42-73a92fe83d6c"
                groupName: "BestShooters"
                groupDescription: "This group is only for people who don't shoot bricks :)"
                groupPhoto: "https://web-chat-app.com/groups/profile-images/bestshooters_new.jpg"
                members:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                  - "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                admins:
                  - "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                snippet: "Group photo updated"
                dtLastMessage: "2025-11-09T11:25:30Z"
        '403':
          description: User is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"




  /wasatext/{username}/groups/{conversationId}/members/{userId}:
    delete:                                                         # Si rimuove un membro dal gruppo
      operationId: removeMember
      summary: Remove a member from the group
      description: Only admins can remove members. Admins cannot be removed, they must be demoted first.
      tags:
        - Group Chats
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30    
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation ID
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique User ID
      responses:
        '204':
          description: Member removed successfully
        '400':
          description: Cannot remove admin (must demote first)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '403':
          description: User is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Group or user not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"



  ########################################
      # ENDPOINTS dei MESSAGGI
  ########################################      

  /wasatext/{username}/conversations/{conversationId}/messages:
    parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
          minLength: 3                 
          maxLength: 30   
          pattern: '^[a-zA-Z0-9._~-]+$'
        description: Username of the user loggin in this session
      - name: conversationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
          minLength: 36     
          maxLength: 36      
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
        description: Unique Conversation ID
    
    get:                                                # ritorna i messaggi di una specifica conversazione
      operationId: getConversation
      summary: Get all messages in a conversation
      description: Returns messages in reverse chronological order (newest first)
      tags:
        - Messages
      parameters:
        - name: limit
          in: query
          description: Max number of messages to return (default 20)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: before
          in: query
          description: Cursor timestamp. Returns messages OLDER than this time. Used for scrolling up.
          schema:
            type: string
            format: date-time
            minLength: 20
            maxLength: 50
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d+)?(Z|[\+\-]\d{2}:\d{2})$'
      responses:
        '200':
          description: List of messages
          content:
            application/json:
              schema:
                type: object
                description: List of messages
                properties:
                  messages:
                    type: array
                    items:
                      $ref: "#/components/schemas/Message"
                    minItems: 0 # in ogni conversazione c'è almeno 1 messaggio (se una conversazione è iniziata, vuol dire che c'è almeno un messaggio --> per come l'ho implementata)
                    maxItems: 100
                    description: Messages in reverse chronological order in this Conversation
              example:
                messages:
                  - id: "d8f1a7c3-6e29-430a-bb42-73a92fe83d6c"
                    contentMess: "Hey everyone 👋 ready for tonight’s match?"
                    timestamp: "2025-11-05T10:25:43Z"
                    statusInfo: "read"
                    conversationId: "e34f0b12-52a9-489c-87ce-a91e0fb4476d"
                    senderUserId: "a3f1c8b2-47e9-4db5-93a8-921ddbb512fc"
                    senderUsername: "luca_dev"    
                    forwarded: false
                    reactions: []

                  - id: "c8b6d99b-7d52-4a4d-b88a-f82f62221f31"
                    contentMess: "Absolutely! Let’s go ⚽🔥"
                    timestamp: "2025-11-05T10:27:12Z"
                    statusInfo: "delivered"
                    conversationId: "e34f0b12-52a9-489c-87ce-a91e0fb4476d"
                    senderUserId: "a3f1c8b2-47e9-4db5-93a8-921ddbb512fc"
                    senderUsername: "luca_dev"    
                    forwarded: false
                    reactions: []
                  
        '403':
          description: User is not part of this conversation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"



    post:                                                                     # invio di un nuovo messaggio
      operationId: sendMessage
      summary: Send a new message
      description: Sending a new message in this conversation
      tags:
        - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
               $ref: "#/components/schemas/NewMessage"
      responses:
        '201':    # Created
          description: Message sent successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
              example:
                id: "e34f0b12-52a9-489c-87ce-a91e0fb4476d"
                contentMess: "Hey guys, I just created the group event for tonight 🎉"
                timestamp: "2025-11-05T10:48:31Z"
                statusInfo: "read"
                conversationId: "e34f0b12-52a9-489c-87ce-a91e0fb4476d"
                senderUserId: "a3f1c8b2-47e9-4db5-93a8-921ddbb512fc"
                senderUsername: "luca_dev"    
                forwarded: false
                reactions: []
        '403':
          description: User is not part of this conversation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"



  /wasatext/{username}/conversations/{conversationId}/read_status:            # Leggo i messaggi ancora non letti in questa conversatione
    put:
      operationId: markMessagesAsRead
      summary: Mark messages as read
      description: |-
        Updates the status of messages to 'read'. 
        It marks the message specified in 'lastReadMessageId' and ALL preceding 
        unread messages in this conversation as 'read'.
        This is used to generate "blue ticks" for the sender.
      tags:
        - Messages
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30   
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user logging in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36       
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation ID
      requestBody:
        required: true
        description: The payload containing the ID of the last message seen by the user.
        content:
          application/json:
            schema:
              type: object
              description: Schema to define the last read message
              properties:
                lastReadMessageId:
                  type: string
                  format: uuid
                  minLength: 36     
                  maxLength: 36       
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  description: The ID of the most recent message the user has visualized on screen.
              required:
                - lastReadMessageId
      responses:
        '200':  
          description: Status updated successfully
          content:
            application/json:
              schema:
                description: status update to "read"
                type: object
                properties:
                  success:
                    type: boolean
                    description: Successfully
                    example: true
              example:
                success: true
        '403':
          description: User is not part of this conversation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Conversation or Message not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


  /wasatext/{username}/conversations/{conversationId}/messages/{messageId}:
    parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30  
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation ID
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Message ID
  
    patch:                                                                        # Modifico un Messaggio
      operationId: editMessage
      summary: Edit a message content
      description: Update the text content of an existing message. Only the sender can edit.
      tags:
        - Messages
      requestBody:
        required: true
        content:
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/MessageUpdate"
      responses:
        '200':
          description: Message updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
              example:
                id: "c1f09a5d-44e2-4f7b-9a33-82dfcc19b4fe"
                contentMess: "Hey guys, change of plans — meeting at 8:30 instead of 8 ⏰"
                timestamp: "2025-11-05T11:10:45Z"
                statusInfo: "delivered"
                conversationId: "e34f0b12-52a9-489c-87ce-a91e0fb4476d"
                senderUserId: "a3f1c8b2-47e9-4db5-93a8-921ddbb512fc"
                senderUsername: "filippo_dev"     
                forwarded: false
                reactions: []

        '403':
          description: User is not the sender of this message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Message not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


    delete:                                                   # Utente elimina un messaggio da lui inviato in quella conversazione
      operationId: deleteMessage
      summary: Delete a message
      description: Only the sender can delete their own messages
      tags:
        - Messages
      responses:
        '204':  # No Content
          description: Message deleted successfully
        '403':
          description: User is not the sender of this message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Message not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


  /wasatext/{username}/conversations/{conversationId}/messages/{messageId}/forward:
    post:                                                             # Inoltrare un messaggio
      operationId: forwardMessage
      summary: Forward a message to another conversation
      description: |-
        Creates a NEW message in the target conversation (specified in body) with the same content 
        as the original message. 
        The new message will have 'forwarded: true', a new timestamp (current time), 
        and the sender will be the current user (not the original author).
        -'targetConversationId': The message is appended to that specific chat.
        - 'targetUserId': if user choose a new private conversation The backend searches for a new private chat with this user.
      tags:
        - Messages
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30              
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation ID
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Message ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForwardMessage"           
        
      responses:
        '201':
          description: Message forwarded successfully (New message created)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
              example:
                id: "2e1f9b33-5c7a-4af8-b83e-9f12aa49d223"
                contentMess: "📸 Check out this photo!"
                timestamp: "2025-11-21T18:30:00Z"           # Timestamp aggiornato al momento in cui viene fatto il forward
                statusInfo: "delivered"
                conversationId: "e34f0b12-52a9-489c-87ce-a91e0fb4476d"
                senderUserId: "d8f1a7c3-6e29-430a-bb42-73a92fe83d6c"
                senderUsername: "filippo_dev"
                forwarded: true                             # Flag fondamentale da andare a cambiare nel backend
                reactions: []

        '400': 
          description: Invalid input (Must provide either targetConversationId or targetUserId)
          content:
            application/json:
              schema:
                 $ref: "#/components/schemas/Error"

        '403':
          description: User is not part of source or target conversation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Message or conversation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"





  #######################
  # ENDPOINTS REACTION
  #######################

  /wasatext/{username}/conversations/{conversationId}/messages/{messageId}/reactions:
    parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30   
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Conversation ID
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            minLength: 36     
            maxLength: 36      
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          description: Unique Message ID
            
    post:                                       #Aggiungere una Reazione a un messaggio specifico
      operationId: commentMessage
      summary: Add a reaction to a message
      description: Add an emoji reaction to a message. Each user can only have one reaction per message.
      tags:
        - Reactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewReaction"
      responses:
        '201':
          description: Reaction added successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reaction"
              example:
                reactionId: "d8f1a7c3-6e29-430a-bb42-73a92fe83d6c"              ## id univoco reaction
                emoji: "🔥"                                                     ## emoji che rappresenta la reazione aggiunta           
                senderUserId: "a3f1c8b2-47e9-4db5-93a8-921ddbb512fc"            ## UUID utente che ha reagito
                senderUsername: "filippo_dev"                                   ## nome utente che ha reagito
        '400':
          description: User already reacted to this message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Message not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


    delete:                                                               # Rimuovo una mia reazione a un messaggio (Un utente può rimuovere solo una propria reazione, non quella di altri (anche se admin, se siamo in un gruppo))
      operationId: uncommentMessage
      summary: Remove reaction from a message
      description: Remove the authenticated user's reaction from a message
      tags:
        - Reactions
      responses:
        '204':
          description: Reaction removed successfully

    get:                                                                # ritorno tutte le Reazioni a un messaggio specifico
      operationId: getAllMessageReactions
      summary: Get all reactions for a message
      description: I take all the reactions of a specific message
      tags:
        - Reactions
      responses:
        '200':
          description: List of reactions
          content:
            application/json:
              schema:
                type: object
                description: Reactions
                properties:
                  reactions:
                    type: array
                    items:
                      $ref: "#/components/schemas/Reaction"
                    minItems: 0
                    maxItems: 300                                 # numero massimo di partecipanti in un gruppo --> di conseguenza anche il numero massimo di reazioni (visto che è una a testa)
                    description: All the reactions of this message
              example:
                reactions:
                  - reactionId: "9a74bc10-3f2e-4b19-a8c7-3b9e2df67611"
                    emoji: "❤️"
                    senderUserId: "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                    senderUsername: "martina_98"
                  - reactionId: "5c2e7f88-1b56-4d3f-934b-d18fc2092aa4"
                    emoji: "😂"
                    senderUserId: "1a9b0c34-85f2-4e6d-92ee-4f7a18d0c2b5"
                    senderUsername: "luca_dev"


  #####################################
  # ENDPOINTS STATO E PROFILO UTENTE
  #####################################

  /wasatext/{username}/profile:

    get:                                                                    # Ottengo i dettagli del profilo che è loggato in questo momento
      operationId: myProfileDetails
      summary: Get current user profile
      description: Returns all the information about the user logged in to the session
      tags:
        - Users
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30         
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
      responses:
        '200':
          description: Current user details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
              example:
                id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                username: "filippo_dev"
                profilePhoto: "https://web-chat-app.com/users/profile-images/filippo_dev.jpg"


  /wasatext/{username}/profile/status:

    patch:                                                                  # Modifico il profilo utente, dell'utente loggato in questo momento
      operationId: modifyProfileStatus
      summary: Update current user profile status
      description: Update current User profile logged in this session
      tags:
        - Users
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30         
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
      requestBody:
        required: true
        content:
          application/json-patch+json:
            schema:
              type: object
              description: Update profile status 
              properties:
                status:
                  type: string
                  minLength: 0
                  maxLength: 200
                  pattern: '.*'
                  description: User status message
      responses:
        '200':
          description: Profile Status updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
              example:
                id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                username: "filippo_dev"
                profilePhoto: "https://web-chat-app.com/users/profile-images/filippo_dev_new.jpg"


  /wasatext/{username}/user_search:                                          # Ricercare un utente tra tutti gli utenti registrati nella web app
    get:
      operationId: searchUser
      summary: Search for a user by username
      description: Returns a list of users whose username contains the search string
      tags:
        - Users
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30  
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: usernameSearched    # Con questo parametro di query vado a filtrare la lista 
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 30
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Partial username to search for
      responses:
        '200':
          description: List of users found
          content:
            application/json:
              schema:
                type: object
                description: List of users whose username contains the search string 
                properties:
                  users:
                    type: array
                    minItems: 0
                    maxItems: 10000 
                    items:
                      $ref: "#/components/schemas/User"
                    description: Array of matching users. Empty array if no results.
              example:
                users:
                  - id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                    username: "steph_curry"
                    profilePhoto: "https://web-chat-app.com/users/profile-images/steph_curry.png"
                  - id: "a3f6c4d1-0e2b-12b5-bd6c-527ef43ac821"
                    username: "steph_current"
                    profilePhoto: "https://web-chat-app.com/users/profile-images/steph_current.png"

        '404':
          description: User Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /wasatext/{username}/profile/username:
    put:                                               # Modifico il mio username
      operationId: setMyUserName
      summary: Update current user's username
      description: |-
        Updates the username of the currently authenticated user.  
        The request must include the new desired username in the request body.  
        If the username is valid and not already taken, it is updated successfully  
        and the updated user profile is returned.  
        If the username already exists, an error response is returned.
      tags:
        - Users
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUsernameRequest"

      responses:
        '200':
          description: Username updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
              example:
                id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                username: "Ryan_Ted"
                profilePhoto: "https://web-chat-app.com/users/profile-images/ryan_ted.png"

        '400':
          description: Username already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"



  /wasatext/{username}/profile/photo:
    put:
      operationId: setMyPhoto
      summary: Update current user's profile photo
      description: |-
        Updates the profile photo of the currently authenticated user.
        The request must include the new photo URL in the request body.
        If the URL is valid, the profile photo is updated successfully
        and the updated user profile is returned.
      tags:
        - Users
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30 
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: profile photo
              properties:
                profilePhoto:
                  type: string
                  format: url
                  minLength: 10
                  maxLength: 500
                  pattern: '^https?:\/\/[^\s\/$.?#].[^\s]*$'
                  description: URL to new profile photo
              required:
                - profilePhoto
      responses:
        '200':
          description: Profile photo updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
              example:
                id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                username: "filippo_dev"
                profilePhoto: "https://web-chat-app.com/users/profile-images/filippo_new_photo.png"
        '400':
          description: Invalid URL format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"



  /wasatext/{username}/users/{usernameSearched}:
    get:                                                                      # ritornare un profilo utente tramite id
      operationId: getUserProfile
      summary: Get user profile by ID
      description: I return the user profile by passing his username as a parameter in the path
      tags:
        - Users
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30    
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: Username of the user loggin in this session
        - name: usernameSearched
          in: path
          required: true
          schema:
            type: string
            minLength: 3                 
            maxLength: 30  
            pattern: '^[a-zA-Z0-9._~-]+$'
          description: The username of the user to retrieve
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
              example:
                id: "f4a8c2d1-0e9b-41b6-bd3c-527ef43ac821"
                username: "filippo_dev"
                profilePhoto: "https://web-chat-app.com/users/profile-images/filippo_dev_new.jpg"
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  
  /media/upload:
    post:
      operationId: uploadFile
      summary: Upload an image file
      description: |-
        Uploads an image (JPEG, PNG, GIF) to the server storage.
        Returns a public URL that can be used in 'profilePhoto' or 'contentMess'.
        Max file size: 10MB.
      tags:
        - Media
      parameters:
        - name: type
          in: query
          description: Specifies the destination folder. 'media' for chat images, 'avatar' for profile photos.
          required: false   # impostato a false, tanto ho come default 'media', se non viene specificato
          schema:
            type: string
            enum:
              - avatar
              - media
            default: media
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              description: Payload containing the binary image file
              properties:
                file:
                  type: string
                  format: binary
                  description: The binary image file (max 10MB)
                  minLength: 0            
                  maxLength: 10485760     # (10MB)
              required:
                - file
      responses:
        '201':
          description: Image uploaded successfully
          content:
            application/json:
              schema:
                type: object
                description: JSON object containing the URL
                properties:
                  url:
                    type: string
                    format: url
                    minLength: 10
                    maxLength: 500
                    description: The public URL of the uploaded image
                    example: "https://api.web-chat-app.com/images/media/550e8400-e29b.jpg"
              example:
                url: "https://api.web-chat-app.com/images/media/550e8400-e29b.jpg"
        '400':
          description: Invalid file format or too large
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '401':
          description: Unauthorized
          content:                        
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '500':
          description: Internal Server Error
          content:                        
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
